/* generics */
a, a:visited {
    color: #f12f12;
    font-size: 15vh;
}

body {
    background-color: black;
    color: #f12f12;
    margin: 0;
    font-family: 'Profession', sans-serif;
    user-select: none;
}

button {
    width: 10vw;
    height: 10vh;
    background-color: black;
    color: #f12f12;
    border: 1px solid #f12f12;
    border-radius: 25px;
    font-size: 5vh;
    text-align: center;
}

input {
    width: 30vw;
    height: 10vh;
    background-color: black;
    color: #f12f12;
    border: 1px solid #f12f12;
    border-radius: 25px;
    font-size: 10vh;
    text-align: center;
}

table {
    width: 100%;
    height: 100%;
}

td {
    text-align: center;
    vertical-align: center;
    font-size: 5vh;
}

/* player */
.player-name {
    border: 1vh solid transparent;
}

.player-name.active {
    border: 1vh solid #f12f12;
    border-radius: 25px;
}

.player-score {
    height: 50%;
    font-size: 30vh;
    font-family: 'Seven segment', sans-serif;
}

.player-extension {
    background-color: #f12f12;
    color: grey;
    border-radius: 25px;
}

.player-extension.active {
    background-color: #00f120;
    color: #f12f12;
}

/* display */
.display {
    width: 60%;
}

.display-break.active {
    background-image: url("12ball.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.display-timer {
    height: 80%;
    font-size: 50vh;
    font-family: 'Seven segment', sans-serif;
}

.display-bar {
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) -200%, rgba(255, 0, 0, 1) -200%, rgba(0, 241, 32, 1) 100%);
}

/* controls */
.controls td {
    padding: 2vh;
    font-size: 20vh;
}

/* modal welcome */
#welcome-confirm {
    height: 10vh;
    margin: 5vh;
}

.settings-inputs td {
    width: 50%;
}

#logo {
    position: fixed;
    z-index: -1;
    bottom: -29vh;
    right: -5vw;
    height: 120vh;
    opacity: 0.3;
}

#prompt {
    position: fixed;
    top: 20vh;
    left: 10vw;
    height: 60%;
    width: 80%;
    z-index: 1;
    background-color: black;
    border: 1vh solid #f12f12;
    border-radius: 25px;
}
#prompt input {
    background-color: #f12f12;
    color: black;
}

/* helpers */
.invisible {
    display: none !important;
}
